/* ページ全体の背景スタイル */
body {
    background: url('../assets/background.jpg') no-repeat center center fixed; /* 背景イメージを設定 */
    background-size: cover; /* イメージをカバーする */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 上に配置 */
    height: 50vh; /* ビューポートの半分の高さに変更 */
    margin: 0; /* 余白をリセット */
}

/* タイマーの全体スタイル */
.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #a1887f; /* タイマーコンテナの背景をコーヒーっぽい色に変更 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    width: 400px; /* 幅を広げる */
    height: 300px; /* 高さを広げる */
    overflow: hidden;
}

.timer-container:hover .timer-input,
.timer-container:hover .timer-button {
    opacity: 1; /* ホバー時に表示 */
}

.timer-input,
.timer-button {
    opacity: 0; /* デフォルトで非表示 */
    transition: opacity 0.5s ease; /* やんわり表示 */
}

/* タイマーの表示スタイル */
.timer-display {
    font-size: 56px; /* フォントサイズを大きくする */
    font-weight: bold;
    margin-bottom: 10px;
    color: #3e2723; /* コーヒーっぽい色に変更 */
}

.timer-display.hidden {
    display: none; /* 非表示にする */
}

/* 次のセッション開始時間のスタイル */
.timer-next-session {
    font-size: 22px; /* フォントサイズを大きくする */
    color: #5d4037; /* コーヒーっぽい色に変更 */
    margin-bottom: 20px;
}

/* 入力フィールドのスタイル */
.timer-input {
    font-size: 18px; /* フォントサイズを大きくする */
    padding: 10px;
    border: 1px solid #8d6e63; /* コーヒーっぽい色に変更 */
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #d7ccc8; /* 入力フィールドの背景色をコーヒーっぽい色に変更 */
    color: #3e2723; /* テキストの色をコーヒーっぽい色に変更 */
}

/* ボタンのスタイル */
.timer-button {
    font-size: 18px; /* フォントサイズを大きくする */
    padding: 10px 20px;
    color: #fff;
    background-color: #6d4c41; /* ボタンの背景色をコーヒーっぽい色に変更 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.timer-button:hover {
    background-color: #4e342e; /* ホバー時のボタンの背景色をコーヒーっぽい色に変更 */
}

/* タイトルのスタイル */
.app-title {
    font-family: 'Georgia', serif; /* おしゃれなフォントに変更 */
    font-size: 42px; /* フォントサイズを大きくする */
    color: #ffffff; /* テキストの色を白に変更 */
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 影を濃くして見やすくする */
}